.bodyCardDefinition {
    display: flex;
    flex-direction: column;
    margin: 40px;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    /* width: 100%; */
}


.imgCardDefinition {
    width: 320px;
    border-radius: 100%;
    margin-left: 50px;
}

.cardDescription {
    display: flex;
    gap: 60px;
}

.btnCardDefinition {
    position: relative;
    left: 40px;
}

.borderDescription {
    /* box-shadow: 10px 10px 20px rgba(117, 117, 117, 0.449); */
    border-radius: 10px;
    background-color: #fff;
}

@media (max-width: 1350px) {

    .cardDescription {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }

    .imgCardDefinition {
        width: 280px;
        margin-right: 50px;
    }
}

@media (max-width: 450px) {

}