.imgPagesCoaching {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.imgDiference {
    width: 600px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #69372682;
}

.imgTeam {
    width: 600px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 5px 5px 10px #69372682;
}

.imgCell {
    width: 600px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 5px 5px 10px #69372682;
}

@media (max-width: 1550px) {
    .imgDiference {
        width: 400px;
    }

    .imgTeam {
        width: 400px;
    }
    
    .imgCell {
        width: 400px;
    }
}

@media (max-width: 1250px) {
    .PageCoachingDescription {
        grid-template-columns: 1fr;
    }


}

@media (max-width: 1050px) {

    .imgPagesCoaching {
        display: flex;
        justify-content: center;
    }

    .imgTeam {
        display: none;
    }
    
    .imgCell {
        display: none;
    }
}

