.boxMassage {
    width: 100%;
    background-color: rgba(117, 3, 193, 0.076);
    display: flex;
    justify-content: center;
    align-items: center;
}

.descriptionMassage {
    width: 75%;
    gap: 10%;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.imgMassage {
    width: 700px;
}

@media (max-width: 1446px) {

    .descriptionMassage {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    
    .descriptionMassage p {
        width: 600px;
        min-width: 300px;
    }
}

@media (max-width: 663px) {
    .descriptionMassage p {
        width: 100%;
        margin-left: 25px;
        margin-right: 25px;
    }

    .descriptionMassage img {
        width: 100%;
    }

}

