.boxMeditation {
    width: 100%;
    background-color: #80b3ff1c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.responsiveMeditation {
    width: 70%;
}

.Carousel {
    width: 700px;
}

.borderRadius {
    border-radius: 20px;
}

@media (max-width: 1550px) {
    .responsiveMeditation {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 760px) {
    .Carousel {
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (max-width: 450px) {
    .boxMeditation {
        width: 100%;
        background-color: #80b3ff37;
    }

    .Carousel {
        width: 300px;
    }
}