.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.margin {
    margin-left: 30px;
    margin-right: 30px;
}

.paddingTop {
    padding-top: 50px;
}

.center {
    justify-content: center;
    align-items: center;
}

.textSmall {
    width: 400px;
}

/* Font */
@font-face {
    font-family: 'TitlesFont';
    src: url('./fonts/Merienda-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'TextFont';
    src: url('./fonts/Belleza-Regular.ttf') format('truetype');
}

p {
    font-size: 25px;
    font-family: 'TextFont', sans-serif;
}



h1, h2, h3, h4, h5, h6 {
    font-family: 'TitlesFont', sans-serif;
}
/* ---- */