.App {
  border-radius: 10px;
}


/* Font */
@font-face {
    font-family: 'TitlesFont';
    src: url('./fonts/Merienda-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'TextFont';
    src: url('./fonts/Belleza-Regular.ttf') format('truetype');
}

button {
    font-family: 'TitlesFont', sans-serif;
}

p {
    font-size: 22px;
    font-family: 'TextFont', sans-serif;
    margin-left: 15px;
    margin-right: 15px;
}



h1, h2, h3, h4, h5, h6 {
    font-family: 'TitlesFont', sans-serif;
    margin-left: 15px;
    margin-right: 15px;
    color: #9464F4;
}
/* ---- */

@media (max-width: 768px) {
    

    
}

@media (max-width: 450px) {
    p {
        font-size: 20px;
        
    }

    
}


/* CSS */
.btn {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  margin-bottom: 40px;
  margin-top: 40px;
}

.btn:hover,
.btn:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.btn:hover {
  transform: translateY(-1px);
}

.btn:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}