.boxYoga {
    width: 100%;
    background-color: rgba(255, 166, 0, 0.101);
    display: flex;
    justify-content: center;
    align-items: center;
}

.descriptionYoga {
    width: 75%;
    gap: 10%;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.descriptionYoga p {
    width: 100%;
    min-width: 300px;
}



@media (max-width: 1446px) {

    .descriptionYoga {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    
    .descriptionYoga p {
        width: 600px;
        min-width: 300px;
    }
}

@media (max-width: 663px) {
    .descriptionYoga p {
        width: 100%;
        margin-left: 25px;
        margin-right: 25px;
    }
}

/* ---------- */

